body {
  background-color: #f5f5f5;
}
.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
.main-logo {
  width:36px;
}
.main-menu-icon {
  font-size:20px;
  text-align: center;
}
.main-menu-caption {
  font-size:14px;
}
.main-menu {
  border: 0;
  box-shadow: 0 1px 3px rgba(23,63,79,0.12), 0 1px 2px rgba(23,63,79,0.24);
}
.bg-main-menu {
  background-color: #173F4F;
}
.main-menu-link {
  border: 2px solid transparent;
  color: #fff !important;
  margin-right:4px;
}
.main-menu-link:hover {
  /* background: #ffc107; */
  background: rgba(255, 255, 255, 0.15);
  color: #fff !important;
}
.main-menu-link:active {
  border: 2px solid transparent;
}
.dropdown-toggle-custom::after {
  display:none;
}
.dropdown-item:active {
  background-color: #173F4F;
  color: #fff !important;
}
.logo-text {
  font-size:24px;
  font-weight:700;
  margin-left:5px;
  position:relative;
  top:1px;
}
.card-title-custom {
  color: #173f4f;
  font-size: 24px;
  font-weight: 600;
}
.custom-shadow {
  border: 0;
  box-shadow: 0 1px 3px rgba(23,63,79,0.12), 0 1px 2px rgba(23,63,79,0.24);
}
.table > .custom-thead {
  border-top:1px solid #b9b9b9;
  border-bottom:1px solid #b9b9b9;
}
.table > .custom-thead > tr {
  font-size:14px;
  color: #173f4f;
}
.table-title-link {
  color:#21a4df;
  text-decoration: none;
  font-weight:500;
}
.table-title-link:hover {
  color:#59bbe7;
  text-decoration: underline;
}
.table-description {
  margin-top:2px;
  font-size:14px;
  color:#767676;
}
.table-buttons {
  text-align:right;
  vertical-align:middle;
}
.table-button-link {
  font-size: 18px;
  color: #878787;
  text-decoration: none;
}
.table-button-edit:hover {
  color: #21a4df;
}
.table-button-delete:hover {
  color: #ef5350;
}

/* TOP Panel*/
.bg-top-panel {
  background-color: #dde9ed;
}
.btn-top-panel, .btn-top-panel:active {
  color: #173f4f;
}
.btn-top-panel:hover {
  background-color: #173f4f;
  border: 1px solid #173f4f;
  color: #fff;
}
.btn-top-panel-icon {
  margin-right: 3px;
  position: relative;
  top: 1px;
}

/* Workspaces */
.workspace-list-card {
  border:0;
  box-shadow: 0 1px 3px rgba(23,63,79,0.12), 0 1px 2px rgba(23,63,79,0.24);
}
.workspace-list-card > .card-header > .card-title {
  color: #173f4f;
}
.workspace-list-card > .card-header > .card-title > .card-title-icon {
  margin-right:6px;
}
.workspace-list-card > .card-body > .card-description {
  color: #878787;
  font-size:14px;
  margin-bottom:15px;
}
.workspace-list-card > .card-body > .card-small-icon {
  font-size: 14px;
  color: #173f4f;
  margin-right: 6px;
  cursor: default;
}

/* Icons */
.main-menu-icon-dropdown {
  font-size: 16px;
}
.standart-button-icon {
  margin-right: 4px;
}
.priority-icon {
  margin-right: 6px;
  font-size: 12px;
}

/* Buttons */
.btn-apply {
  font-size: 18px;
  background-color: #1aad95;
  border-color: #1aad95;
  color: #fff;
}
.btn-apply:hover {
  background-color: #00a489;
  border-color: #00a489;
  color: #fff;
}
.btn-apply:active, .btn-apply:visited, .btn-apply:focus {
  background-color: #40bba7 !important;
  border-color: #40bba7 !important;
  color: #fff !important;
}

/* Toast */
.toast-header-icon {
  font-size:16px;
}